body {
		font-family: "Verdana";
}

header{
	position: relative;
}

h1 {
	font-weight: bolder;
}

h2.previous-author {
	text-align: left;
	background-color: red;
	text-decoration: line-through;
	display:inline;
}

h2.new-author {
	text-align: left;
	display:inline;
}

p.left-verse {
	white-space: pre;
}

p.second-verse {
	text-align: right;
	white-space: pre;
}

a {
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 200%;
}

a:hover {
    text-decoration: underline;
}

em {
    font-style: italic;
}

span {
    font-weight: bold;
}