/*REMEMBER TO PUT THIS FILE INSIDE YOUR CSS DIRECTORY*/
#test{
	color:red;
}
#page-header {
	color:#00FF00;
}
.todo-item>h1{
	text-decoration: underline;
}
.todo-item a{
	color:purple;
}
li {
	text-indent: 150px;
	text-align: : right;
}